#menu .pure-menu-link.menu-icon:focus,
#menu .pure-menu-link:focus {
    background: 0 0 !important
}

#menu .pure-menu-link.menu-icon:after {
    display: none
}

.pure-menu.pure-menu-horizontal.menu-main {
    text-align: center
}

#menu .pure-menu-item.pure-menu-has-children .pure-menu-children {
    right: 10px;
    left: auto;
    border: 1px solid #f5f7f9;
    border-radius: 4px
}

#menu .pure-menu-link {
    height: 100%;
    line-height: 50px;
    color: #4c4c4c;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 10px;
    padding: 0 10px;
    font-size: 10px;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff
}

#menu .pure-menu-link.menu-icon img {
    vertical-align: middle
}

#menu .pure-menu-link:hover {
    text-decoration: none;
    color: #5a9dee;
    border-bottom: none;
    background: 0 0
}

#menu .pure-menu-link.menu-icon:hover {
    border-bottom: 2px solid #fff !important;
    background: 0 0 !important
}

#menu .pure-menu-link.menu-icon svg {
    padding: 2px
}

#menu .pure-menu-link.menu-icon:hover svg {
    background: #e8e8e8;
    border-radius: 11px
}

#menu .pure-menu-link.active,
#menu .pure-menu-link:hover {
    text-decoration: none;
    color: #5a9dee;
    border-bottom: 2px solid #5a9dee;
    background: 0 0
}

.footer {
    position: relative;
    width: 100%;
    height: 75px;
    background: #428fe8;
    font-size: 14px;
    font-weight: 300;
    color: #373a3c
}

.footer-inner {
    text-align: left;
    padding: 1em 2em
}

.footer-inner a {
    color: #fff;
    border-bottom: 1px dotted #fff
}

.footer-content {
    display: flex;
    justify-content: space-between
}

@media (max-width:992px) {
    .menu-large {
        display: none !important
    }
    .menu-small {
        display: block !important
    }
}


 
/* Slider */
.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

/* Arrows */

.episode-slider .slick-prev,
.episode-slider .slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 38%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}



.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 46.8%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;

    opacity: .75;
    color: #4310AF;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 6px;
    position: absolute;
    z-index: 1;
}

[dir='rtl'] .slick-prev {
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: 25px;
    position: absolute;
    z-index: 1;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
 
    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;


    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 16px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .50;
    color: #F99D1C;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #F99D1C;
}

 